APP_NAME=adminbase
APP_ENV=local
APP_KEY=base64:tuil2Q0bR0wQLGAcnyAyy+F8gZK+H9ZZgni6w6aJ7sw=
APP_DEBUG=true
APP_URL="adminbase.local"
ADMIN_URL="admin.adminbase.local"
API_URL="api.adminbase.local"

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=adminbase
DB_ADMINBASE_HOST=127.0.0.1
DB_ADMINBASE_PORT=3306
DB_ADMINBASE_DATABASE=adminbase
DB_ADMINBASE_USERNAME=root
DB_ADMINBASE_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ALLOWED_CORS_ORIGINS=http://api.thermometer.local:8080,http://api.thermometer.local,http://localhost:8080,http://localhost

# Dingo Api
API_STANDARDS_TREE=x
API_SUBTYPE=cps
API_PREFIX=/
API_VERSION=v1
API_NAME="${APP_NAME} API"
API_CONDITIONAL_REQUEST=false
API_STRICT=false
API_DEFAULT_FORMAT=json
API_DEBUG="${APP_DEBUG}"

RECORD_SQL=false

L5_SWAGGER_GENERATE_ALWAYS=false

DOCKER_MYSQL_ROOT_PASSWORD=thermometer#123


